body, html{
    height:100%;
    margin:1%;
    font-size:22px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#34e4ea;
  }

  .flipimages  {background-image: url(https://images.unsplash.com/photo-1568301956237-25a54f5f0d21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFjayUyMGdyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    height: 90%;
    background-position:center;
    }

.flipcard {background-color: aqu;
    height: 100%;
    width: 30%;
    display: inline-block;
    margin-left: 2.3%;
    margin-top: 2.5%;
    text-align: center;
    
    
    
}

.frontimg1, .frontimg2, .frontimg3 {
    height: 90%;
    opacity:0.90;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.25%;
    border-radius: 5%;
}

.frontimg1 {background-image: url(https://images.unsplash.com/photo-1570641963303-92ce4845ed4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);}
.frontimg2 {background-image: url(https://images.unsplash.com/photo-1582719471384-894fbb16e074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2NpZW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);}
.frontimg3 {background-image: url(https://images.unsplash.com/photo-1547333590-47fae5f58d21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}